:root {
  --bg-color: rgb(200, 201, 197);
  --text-color: rgb(80, 99, 168);
  --link-color: var(--text-color);
  --link-hover-color: #00f;
  --border-color: #ddd;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  line-height: 1.75;

  /* Slight increase in letter spacing for readability */
  letter-spacing: 0.75px;
}

.front-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  margin: 1em;
}

a {
  color: var(--link-color);
  font-weight: 600;
  /* Add transition for color */
  transition: color 0.3s ease-in-out;
}

a:hover {
  /* Change color on hover */
  color: var(--link-hover-color);
}

h1 {
  font-size: 2em;
  font-style: italic;
}

h2 {
  font-style: italic;
}

/* Mobile */
@media (max-width: 768px) {}
